@import url("~/assets/baseline.css");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 1em;
  padding: 1em;
  @media (max-width: 600px) {
    gap: 4em;
  }
}

.box {
  display: flex;
  flex-direction: column;
  background: #f89513;
  padding: 1em;
  border: 10px solid #333331;
  border-radius: 30px;
}

.row {
  display: flex;
  gap: 1em;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: #f89513;
  padding: 1em;
  border: 10px solid #333331;
  border-radius: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

label {
  font-size: 1.5em;
}

input[type="text"],
textarea {
  font-size: 1.5em;
  padding: 0.5em;
}

.radio-group {
  display: flex;
  gap: 1em;
}

button {
  background: #333331;
  color: #f89513;
  font-size: 1.5em;
  padding: 0.5em;
  border: 10px solid #f89513;
  border-radius: 30px;
  margin: 0;
  cursor: pointer;
}
